@font-face {
	font-family: 'Lato-Heavy';
	src: url("../fonts/Lato-Heavy.eot");
	src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato-Heavy") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Medium';
	src: url("../fonts/Lato-Medium.eot");
	src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg#Lato-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url("../fonts/Lato-Regular.eot");
	src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Semibold';
	src: url("../fonts/Lato-Semibold.eot");
	src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg#Lato-Semibold") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url("../fonts/Lato-Bold.eot");
	src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Lato-Regular", sans-serif;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	background: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

input,
button,
textarea {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}


.header-main-top.header-main .menu-item a {
	color: #ffffff;
}

@media (min-width: 1200px){
	.hidden-lg {
	    display: none !important;
	}
}





/* Header */
.header-price {
	background-color: #140c1f;
	padding: 10px 0;
	text-align: center;
}



.header-logo {
	margin-left: 8px;
	margin-top: 5px;
}

.header-main {
	background: url("../img/main-bg.jpg") no-repeat top;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 155px;
}
.header-main .header-nav .dropdown-toggle {
    color: #ffffff;
}

.header-slider {
	margin-top: 160px;
    opacity: 0;
    transition: .5s all;
}
.header-slider.show {
    opacity: 1;
}

.header-slider-title {
	font-size: 46px;
	font-family: "Lato-Bold", sans-serif;
	color: #fff;
	line-height: 1.4;
	margin-bottom: 20px;
}

.header-slider-categories {
	display: inline-block;
	margin-right: 17px;
	margin-top: -5px;
	padding: 8px 19px;
	background-color: #39b6f2;
	font-family: "Lato-Bold", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
    line-height: 1;
}

.header-slider-date {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	opacity: .6;
}



.slick-slide {
	outline: none;
}

.slick-slide img {
	display: inline-block;
}

.slick-dots {
	bottom: -125px;
	left: -4px;
	width: auto;
}

.slick-dots li button {
	background: #b3b4c6;
	-webkit-border-radius: 50%;
					border-radius: 50%;
	width: 9px;
	height: 9px;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	font-size: 0;
	background-color: #fff;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
					border-radius: 50%;
}

.slick-dots li button:before {
	font-size: 0;
	width: 9px;
	height: 9px;
}

.slick-dots li {
	width: 9px;
	height: 9px;
	margin-right: 6px;
}

.slick-dots li:last-child {
	margin-right: 0;
}

/* Blog section */
.blog {
	padding-top: 48px;
	padding-bottom: 95px;
}

.col-width {
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	position: relative;
	flex-wrap: wrap;
	margin-bottom: 24px;
}


.blog-search input {
	width: 295px;
	background: #fff url("../img/search-icon.png") no-repeat 24px;
	height: 39px;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 4px;
					border-radius: 4px;
	padding-left: 50px;
	padding-right: 45px;
	font-size: 15px;
	font-family: "Lato-Bold", sans-serif;
	color: #aaaaaf;
	position: relative;
	letter-spacing: 0.25px;
}

.blog-search ::-webkit-input-placeholder {
	color: #aaaaaf;
}

.blog-item {
	width: 300px;
	margin-bottom: 28px;
	position: relative;
	-webkit-box-shadow: 0 0 20px 4px rgba(11, 12, 26, 0.05);
	box-shadow: 0 0 20px 4px rgba(11, 12, 26, 0.05);
}
/*.blog-item > a {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/
.blog-item-drop {
	display: none;
}

.blog-item-small {
	margin-right: 30px;
}

/*.blog-item:hover .blog-item-text-wrap:before {*/
	/*opacity: 0;*/
/*}*/

.blog-item img {
	width: 100%;
}

.blog-item-text-wrap {
	position: relative;
	height: 103px;
}
/*.blog-item-text-wrap:before {*/
	/*position: absolute;*/
	/*content: '';*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*height: 30px;*/
	/*background: linear-gradient(rgba(255, 255, 255, .6), #fff);*/
	/*transition: opacity ease .5s;*/
	/*z-index: 6;*/
/*}*/

.blog-item-text-wrap .blog-item-text {
	position: absolute;
	box-sizing: content-box;
	padding: 15px;
	background: #fff;
	z-index: 2;
	overflow: hidden;
	height: 73px;
	-webkit-transition: height ease .4s, box-shadow .4s;
	transition: height ease .4s, box-shadow .4s;
}

.blog-item-text {
	padding: 11px 52px 8px 32px;
}

.blog-item-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-item-categories {
	font-size: 12px;
	/*font-family: "Lato-Heavy", sans-serif;*/
	color: #39b6f2;
	margin-right: 12px;
	font-weight: bold;
	letter-spacing: .5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blog-item-categories:hover, 
.blog-item-categories:focus, 
.blog-item-categories:active {
	color: #39b6f2;
	text-decoration: underline;
}

.blog-item-date {
	font-size: 13px;
	color: #b2b2b2;
	padding-left: 15px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Lato-Regular';
}

.blog-item-date:before {
	content: '.';
	font-size: 24px;
	font-family: "Lato-SemiBold", sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
}

.blog-item-name {
	font-family: "Lato-Bold", sans-serif;
	font-size: 18px;
	color: #121212;
	margin-top: 5px;
	width: 100%;
	/*max-height: 54px;*/
	/*overflow: hidden;*/
	/*position: relative;*/
}
/*.blog-item-name:before {*/
	/*position: absolute;*/
	/*content: '';*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*height: 35px;*/
	/*background: linear-gradient( rgba(255, 255, 255, .1), rgba(255, 255, 255, .6));*/
	/*width: 100%;*/
/*}*/

.blog-item-name:hover, .blog-item-name:focus, .blog-item-name:active {
	color: #121212;
}

.blog-item-big {
	width: 555px;
	height: 571px;
	position: absolute;
	top: 0;
	right: 0;
}
.blog-item-big .item-photo {
	width: 100%;
	height: 100%;
	padding: 0;
}
.blog-item-big img {
	position: relative;
	height: 100%;
}

.blog-item-big-text {
	position: absolute;
	bottom: 25px;
	left: 30px;
	right: 30px;
}

.blog-item-big-categories {
	display: inline-block;
	padding: 6px 16px;
	background-color: #39b6f2;
	font-family: "Lato-Heavy", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
}
.blog-item-big-categories:hover {
	box-shadow: 0 0 9px rgba(0, 0, 0, .3);
}

.blog-item-big-name {
	display: block;
	font-family: "Lato-Bold", sans-serif;
	font-size: 30px;
	margin-bottom: 21px;
}

.blog-item-big-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
}
.blog-item-big-info span {
	color: #ffffff;
}
.blog-item-big-info span:not(:last-child) {
	margin-right: 25px;
}

.blog-item-big-date {
	font-size: 13px;
	color: #fff;
}

.blog-item-big-statistic {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
}

.blog-item-big-statistic span {
    font-size: 13px;
}

.blog-item-big-likes {
	color: #46db81!important;
	/*background: url("../img/like-icon.png") no-repeat left;*/
}

.blog-item-big-likes:hover, .blog-item-big-likes:focus, .blog-item-big-likes:active {
	color: #46db81;
}
.blog-item-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	padding-bottom: 75px;
}
.blog-item-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
			-ms-flex-align: start;
					align-items: flex-start;
	margin-bottom: 5px;
	position: relative;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	max-width: 880px;
	width: 100%;
}
.blog-item-pair {
	position: relative;
	width: 100%;
}
.blog-item-pair:nth-child(2n) {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.blog-item-pair:nth-child(2n) .blog-item-big {
	left: 0;
}

.blog-item-wrapper-2 .blog-item-small {
	margin-right: 0;
	margin-left: 20px;
}

.blog-item-wrapper-2 .blog-item {
	margin-right: 25px;
}

.blog-item-wrapper-2 .blog-item-text {
	padding-left: 30px;
}

.blog-item-wrapper-2 .blog-item-big {
	margin-left: 10px;
}

.blog-item-wrapper-2 .blog-item-big-categories {
	padding: 5px 0;
	padding-left: 14px;
	padding-right: 34px;
	margin-bottom: 5px;
}

.blog-item-wrapper-2 .blog-item-big-name {
	margin-top: 0px;
}

.blog-item-wrapper-2 .blog-item-big-text {
	bottom: 27px;
	left: 32px;
}

.blog-item-wrapper-2 .blog-item-big-likes {
	margin-right: -35px;
}

.blog-item-wrapper-3 .blog-item-categories {
	color: #5f5ed8;
	font-weight: 500;
}

.blog-item-wrapper-3 .blog-item-big-categories {
	background-color: #5f5ed8;
	padding: 8px 0;
	padding-left: 15px;
	padding-right: 30px;
}

.blog-desc {
	margin-top: 25px;
	margin-bottom: 40px;
}

.blog-desc div {
	font-size: 18px;
	font-family: "Lato-Bold", sans-serif;
	margin-bottom: 19px;
}

.blog-desc div img {
	margin-right: 6px;
}

.blog-desc p {
	font-size: 16px;
	line-height: 1.7;
	font-family: 'Lato-Bold';
}

.sidebar-container {
	width: 298px;
}

.blog-newsletter {
	background: url("../img/newsletter-bg.jpg") no-repeat top;
	background-size: cover;
	padding: 29px 18px 130px 25px;
	margin-bottom: 40px;
	width: 100%;
}

.blog-newsletter div {
	font-family: "Lato-Bold", sans-serif;
	font-size: 26px;
	margin-bottom: 20px;
	color: #fff;
}

.blog-newsletter p {
	font-size: 16px;
	color: #fff;
	font-family: 'Lato-Regular';
}

.blog-newsletter-form {
	width: 100%;
	height: 45px;
	-webkit-border-radius: 5px;
					border-radius: 5px;
	background-color: #fff;
	margin-top: 37px;
	margin-left: -5px;
}

.blog-newsletter-form input {
	background-color: transparent;
	width: 84%;
	height: 45px;
	border: none;
	padding-left: 30px;
	font-size: 16px;
	color: #b5b5b9;
}
.blog-newsletter-form input::placeholder {
	color: #b5b5b9;
}

.blog-newsletter-form button {
	width: 14%;
	height: 45px;
	border: none;
	background-color: transparent;
	-webkit-transform: translateY(-3px);
			-ms-transform: translateY(-3px);
					transform: translateY(-3px);
}

.blog-categories-list {
	margin-bottom: 52px;
}

.blog-categories-list h5 {
	font-size: 18px;
	font-family: "Lato-Bold", sans-serif;
	color: #1c1c1d;
	margin-bottom: 25px;
}

.blog-categories-list li {
	list-style: none;
	margin-bottom: 15px;
}

.blog-categories-list li:last-child {
	margin-bottom: 0;
}

.blog-categories-list li.active,
.current-cat {
	padding-left: 25px;
	position: relative;
}

.blog-categories-list li.active:before,
.current-cat:before {
	content: '';
	width: 5px;
	height: 5px;
	background-color: #30baee;
	position: absolute;
	left: 9px;
	bottom: 9px;
}

.blog-categories-list li.active a,
.widget_categories li.current-cat a {
	color: #2d2d2e;
}

.blog-categories-list a {
	font-size: 16px;
	color: #aaaaaf;
}

.blog-categories-list a:hover, .blog-categories-list a:active, .blog-categories-list a:focus {
	color: #aaaaaf;
}

.blog-follow {
	margin-bottom: 60px;
}

.blog-follow div {
	font-size: 18px;
	font-family: "Lato-Bold", sans-serif;
	color: #1c1c1d;
	margin-bottom: 35px;
}

.blog-follow-social li {
	display: inline-block;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
}

.blog-follow-social li:last-child {
	margin-right: 0;
}
.blog-follow-social li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.link-facebook {
	background: #3f5d9c;
}
.link-facebook:hover {
	background-color: rgba(63, 93, 156, .8) !important;
}
.link-twitter {
	background: #00aced;
}
.link-twitter:hover {
	background: rgba(0, 172, 237, .8) !important;
}
.link-youtube{
	background: #e32525;
}
.link-youtube:hover {
	background: rgba(227, 37, 37, .8) !important;
}
.link-reddit {
	background: #ff6600;
}
.link-reddit:hover {
	background: rgba(255, 102, 0, .8) !important;
}
.link-linkedin{
	background: #0274b3;
}
.link-linkedin:hover {
	background: rgba(2, 116, 179, .8) !important;
}
.link-instagram {
	background: #654ccb;
}
.link-instagram:hover {
	background: rgba(101, 76, 203, .8) !important;
}
.link-github {
	background: #2b414d;
}
.link-github:hover {
	background: rgba(43, 65, 77, .8) !important;
}
.link-gplus {
	background: #d06455;
}
.link-gplus:hover {
	background: rgba(208, 100, 85, .8) !important;
}
.link-pinterest {
	background: #ae2627;
}
.link-pinterest:hover {
	background: rgba(174, 38, 39, .8) !important;
}

.blog-follow-social li i {
	color: #ffffff;
}

.blog-tags h5 {
	font-size: 18px;
	font-family: "Lato-Bold", sans-serif;
	color: #1c1c1d;
	margin-bottom: 25px;
}

.blog-tags li {
	display: inline-block;
	margin-right: 9px;
	margin-bottom: 5px;
}

.blog-tags li:last-child {
	margin-right: 0;
}

.blog-tags li.active a {
	background-color: #46db81;
	color: #fff;
}

.blog-tags a {
	background-color: #f2f2f4;
	padding: 8px 28px;
	padding-left: 16px;
	color: #2d2d2e;
	-webkit-transition: .5s;
	transition: .5s;
}

.blog-tags a:hover {
	background-color: #46db81;
	color: #fff;
}

.load-more {
	display: inline-block;
	padding: 15px 50px;
	background-color: #f4f5f8;
	font-size: 16px;
	font-family: "Lato-SemiBold", sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 20px;
	-webkit-transition: .5s;
    transition: .5s;
}

.load-more:hover {
    background-color: #46db81;
    color: #fff;
}

.load-more-wrapper {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.admin-bar .heateor_sss_sharing_container.sticky {
    margin-top: 32px!important;
}

.ulogin_block {
    margin-bottom: 15px;
}

.crumbs li, .crumbs li:after, body .crumbs h1 {
	font-size: 14px;
}

.crumbs li {
	display: inline-block;
	font-family: "Lato-Bold", sans-serif;
	margin-right: 5px;
	padding-right: 20px;
	position: relative;
}
body .crumbs h1 {
	display: inline-block;
	font-family: "Lato-Bold", sans-serif;
	margin-right: 5px;
	padding-right: 20px;
	position: relative;
}
.crumbs li a {
	color: #000;
}

.crumbs li:after {
	content: '/';
	font-family: "Lato-Bold", sans-serif;
	position: absolute;
	right: 0;
}

.crumbs li:last-child {
	margin-right: 0;
	padding-right: 0;
}

.crumbs li:last-child:after {
	display: none;
}

/* Features section */
.features {
	background: url("../img/features-bg.jpg") no-repeat top;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 148px;
	text-align: center;
}

.features-title {
	font-size: 46px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 5px;
}

.features-desc {
	font-size: 20px;
	opacity: .6;
	color: #fff;
	margin-bottom: 50px;
	margin-left: -50px;
}

.features-btn {
	background-image: -webkit-linear-gradient(265deg, white 0%, #07e9f7 0%, #12dfe7 0%, #3c86f5 100%);
	background-image: linear-gradient(-175deg, white 0%, #07e9f7 0%, #12dfe7 0%, #3c86f5 100%);
	-webkit-box-shadow: 0 5px 14px 0 rgba(1, 3, 57, 0.2);
					box-shadow: 0 5px 14px 0 rgba(1, 3, 57, 0.2);
	padding: 17px 35px;
	-webkit-border-radius: 5px;
					border-radius: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

.features-btn:last-child {
	margin-right: 0;
}

.features-btn:hover {
	background-image: -webkit-linear-gradient(265deg, white 0%, #bd316a 0%, #0acba4 0%, #17c8e8 100%);
	background-image: linear-gradient(-175deg, white 0%, #bd316a 0%, #0acba4 0%, #17c8e8 100%);
}

.advertizer-btn {
	background-image: -webkit-linear-gradient(265deg, white 0%, #bd316a 0%, #0acba4 0%, #17c8e8 100%);
	background-image: linear-gradient(-175deg, white 0%, #bd316a 0%, #0acba4 0%, #17c8e8 100%);
	margin-left: 60px;
}

.advertizer-btn:hover {
	background-image: -webkit-linear-gradient(265deg, white 0%, #07e9f7 0%, #12dfe7 0%, #3c86f5 100%);
	background-image: linear-gradient(-175deg, white 0%, #07e9f7 0%, #12dfe7 0%, #3c86f5 100%);
}

/* Footer */
.footer {
	background-color: #f5f7fd;
	padding-top: 73px;
	padding-bottom: 35px;
	color: #a5a3b9;
}

.footer-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
			-ms-flex-align: start;
					align-items: flex-start;
	padding-bottom: 60px;
}

.footer-lang {
	padding-left: 27px;
	background: url("../img/lang-icon.png") no-repeat left;
	font-size: 16px;
	position: relative;
	margin-left: 9px;
}

.footer-lang li {
	list-style: none;
}

.footer-lang img {
	margin-left: 6px;
}

.footer-lang a {
	color: #a5a3b9;
}

.footer-lang-drop {
	position: absolute;
	background-color: #f5f7fd;
	z-index: 3;
	display: none;
}

.footer-links {
	margin-top: 20px;
}

.footer-links-last {
	margin-top: 50px;
	-webkit-transform: translateX(15px);
			-ms-transform: translateX(15px);
					transform: translateX(15px);
}

.footer-links li {
	list-style: none;
	margin-bottom: 5px;
}

.footer-links a {
	font-size: 16px;
	color: #a5a3b9;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-links-item {
	margin-top: 4px;
}

.footer-links-item-1 {
	-webkit-transform: translateX(-18px);
			-ms-transform: translateX(-18px);
					transform: translateX(-18px);
}

.footer-links-item-2 {
	-webkit-transform: translateX(14px);
			-ms-transform: translateX(14px);
					transform: translateX(14px);
}

.footer-links-item-3 {
	-webkit-transform: translateX(33px);
			-ms-transform: translateX(33px);
					transform: translateX(33px);
}

.footer-links-item h5 {
	font-size: 18px;
	font-family: "Lato-Bold", sans-serif;
}

.footer-social {
	width: 225px;
	margin-top: 14px;
	-webkit-transform: translateX(14px);
			-ms-transform: translateX(14px);
					transform: translateX(14px);
}

.footer-social li {
	display: inline-block;
	margin-right: 24px;
	margin-bottom: 20px;
}

.footer-bottom {
	padding-top: 43px;
	border-top: 1px solid #e7e6f1;
}

.footer-rules {
	text-align: center;
	margin-top: -7px;
}

.footer-rules a {
	color: #a5a3b9;
	text-decoration: underline;
}

.footer-logo {
	margin-left: 8px;
}

.footer-copy {
	margin-left: 13px;
}

.footer-policy {
	margin-right: 5px;
}

.footer-email {
	color: #a5a3b9;
}

.footer-email:hover, .footer-email:focus, .footer-email:active {
	color: #a5a3b9;
}

.footer-email-wrapper {
	text-align: right;
}

/*16:9 IMAGE*/
.item-photo {
	position: relative;
	padding-bottom: 56.25%;
}
.item-photo img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-photo-wrap {
	overflow: hidden;
	height: 100%;
}
/*16:9 IMAGE*/

/*SCALE IMAGE*/
.scale-image {
	display: block;
	transition: 4s all;
	cursor: pointer;
}
.scale-image:hover {
	transform: scale(1.3);
}
/*SCALE IMAGE*/

/*RESENT POSTS*/
.enlightened-text {
	position: relative;
}
.enlightened-text:before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(rgba(255, 255, 255, .3), #fff);
	height: 63%;
}
.enlightened-text a {
	height: 80px;
	overflow: hidden;
}

.breadcrumbs {
	padding-right: 35px;
	background: #fff;
	position: relative;
	z-index: 2;
}
.blog-search {
	padding-left: 55px;
	background: #fff;
	position: relative;
}


/*SINGLE ENTRY*/
.heateor_sss_sharing_container {
	position: relative;
	top: auto;
	z-index: 1;
}
.heateor_sss_sharing_container.sticky {
	position: fixed;
	top: 5px;
    z-index: 10;
}

.head-item {
	margin-bottom: 60px;
}
.head-item-line {
	position: relative;
	width: 100%;
	flex-wrap: wrap;
}
.head-item-line:before {
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #f2f2f2;
	position: absolute;
}
.head-item-line .main-caption {
	position: relative;
	display: inline-block;
	background: #ffffff;
	padding-right: 35px;
}

.single-entry .blog-item-wrapper {
	padding-right: 50px;
	box-sizing: content-box;
}
.single-entry .blog-item-big-categories {
	margin-bottom: 0;
}

.single-entry h1 {
	font-size: 36px;
	font-family: 'Lato-Bold';
}
.single-entry .breadcrumbs {
	display: inline-block;
	padding-right: 35px;
	position: relative;
	background: #ffffff;
}
.single-blog-item {
	width: 100%;
}
.single-blog-item-statistic {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0 40px;
}
.single-entry .blog-item-big-statistic {
	display: inline-flex;
}
.single-entry .blog-item-big-statistic a {
	color: #7d7d7d;
	margin-right: 20px;
}
.single-entry .blog-item-big-date {
	font-size: 14px;
	font-weight: 600;
	color: #575757;
}
.single-entry .blog-item-big-statistic .icon-thumbs-up-alt {
	color: #46db81;
	cursor: pointer;
}
.single-entry .blog-item-big-statistic a:last-child {
	margin-right: 0;
}
.single-entry .blog-item-big-categories {
	margin-right: 15px;
}
.single-entry .blog-item-big-date{
	color: #7d7d7d;
}
.single-entry .show-more-btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #ffffff;
	z-index: 2;
	padding-left: 35px;
}
.single-entry .show-more {
	font-family: 'Lato-SemiBold';
	letter-spacing: 0.25px;
	font-size: 13px;
	text-transform: uppercase;
	color: #616164;
	padding: 8px 16px;
	transition: .5s all;
}
.single-entry .show-more:hover {
	background: #46db81;
	color: #ffffff;
}
.share-article li {
	display: inline-block;
	margin-right: 5px;
}
.share-article li:last-child {
	margin-right: 0;
}
.share-article li a {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 7px 16px;
}
.heateorSssSharingRound:last-child {
	display: none;
}
.blog-entry-image {
	position: relative;
	padding-bottom: 62.5%;
	margin-bottom: 45px;
}
.blog-entry-image img {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.single-blog-entry {
	width: 100%;
}
.single-blog-entry ul:not(.blog-tags) {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.single-blog-entry ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.single-blog-entry h2 {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 600;
}
.single-blog-entry h3 {
	font-size: 18.72px;
}
.single-blog-entry h4 {
	font-size: 16px;
}
.single-blog-entry .blog-tags {
	margin-top: 50px;
}
.single-blog-entry .blog-tags li {
	margin: 0 9px 9px 0;
}
.single-blog-entry .blog-tags a {
	font-size: 14px;
	padding: 7px 20px;
	font-weight: bold;
	letter-spacing: 0.45px;
}

div.main-caption {
	font-size: 26px;
	font-weight: 600;
}


.resent-post-wrap {
	margin: 30px 0 60px;
	display: flex;
	width: 100%;
}
.resent-post-wrap .resent-post {
	width: calc(100% / 3);
	margin: 0 25px 0 0;
}
.resent-post-wrap .resent-post .item-photo-wrap {
    height: auto;
}
.resent-post .blog-item-text {
	padding-right: 15px;
}
.resent-post-wrap .resent-post:last-child {
	margin: 0;
}
.write-comment {
	list-style: none;
}
.write-comment-sm {
    display: none;
}
.write-comment-lg, .write-comment-sm {
	width: 100%;
}
.write-comment .form-block {
	margin-top: 30px;
	margin-bottom: 30px;
}
.write-comment .form-block textarea {
	margin-bottom: 15px;
}
.form-block input, .form-block textarea {
	resize: none;
	border: 1px solid #ededed;
	padding: 15px 25px;
	border-radius: 3px;
	width: 100%;
	font-family: 'Lato-Semibold', serif;
    letter-spacing: .5px;
}
.form-block input::placeholder, .form-block textarea::placeholder {
	color: #b5b5b9;
}
.form-item-pair {
	display: flex;
	margin-bottom: 20px;
}
.form-item-pair input:not(:last-child) {
	margin-right: 30px;
}

.btn-primary-green-gradient {
	font-size: 1.125rem;
	letter-spacing: 0.05em;
	border-radius: 5px!important;
	width: auto!important;
	color: #fff!important;
	padding: 12px 28px;
	cursor: pointer;
	background: linear-gradient(to right, #00c888 0%, #00b0a1 100%);
}
.btn-primary-green-gradient:hover {
	background: linear-gradient(to right, #00b0a1 0%, #00c888 100%);
}

/*Comments*/
.children {
	margin-left: 110px;
}
.comment-body {
	display: flex;
	margin-bottom: 55px;
}
.comment-author-time, .comment-edit {
	display: flex;
	align-items: center;
}
.comment-edit {
	font-size: 15px;
	font-family: 'Lato-Regular';
}
/*.comment-edit a:hover {*/
	/*text-decoration: underline;*/
/*}*/
.comment-author {
	min-width: 80px;
	max-width: 80px;
	min-height: 80px;
	max-height: 80px;
	margin-right: 23px;
}
.comment-author img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.comment-metadata {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.comment-metadata h4 {
	font-family: 'Lato-SemiBold';
	font-size: 19px;
	margin-right: 10px;
	line-height: 1;
}
.comment-metadata .blog-item-date {
	line-height: 1;
	font-size: 15px;
	letter-spacing: 0.2px;
}
.comment-metadata .comment-reply-link {
	margin-left: 35px;

}
.comment-metadata .comment-reply-link:before {
	margin-right: 10px;
}

.comment-metadata .comment-reply-link:before {
    content: '\f112';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.comment-content p {
	font-family: 'Lato-Regular';
	color: #2d2d2e;
}

@media (max-width: 767px) {
	.comment-body {
		flex-direction: column;
	}
	.comment-author {
		margin: 0 0 20px;
	}
	.children {
		margin-left: 30px;
	}
}


.section-footer, .section-copyrights {
	background: #f5f7fd;
}

/*SINGLE ENTRY*/


/* Media(Adaptive) */
@media (max-width: 1279px) {
	.blog-item-wrapper {
		max-width: 830px;
	}
	.blog-item-big {
		width: 495px;
	}
}



@media (min-width: 1280px) {
	.container {
		width: 1230px;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
		margin: 0 auto;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {

	.blog-search {
		padding-left: 30px;
	}
	.blog-search input {
		width: 225px;
	}

	.single-entry .blog-item-wrapper {
		padding-right: 30px;
	}

	.blog-item-pair {
		padding-right: 30px;
	}
	.blog-item-big {
		width: 345px;
		right: 30px;
	}

    .hidden-xs {
        display: none;
    }
	.header-nav li {
		margin-right: 30px;
	}
	.blog-desc div,
	.blog-desc p {
		font-size: 14px;
	}
	.blog-item-big-name {
		font-size: 17px;
		margin-top: 10px;
	}
	.blog-newsletter {
		width: auto;
	}
	.blog-newsletter div {
		font-size: 24px;
	}
	.blog-newsletter-form input {
		font-size: 14px;
		width: 83%;
	}
	.blog-follow-social li {
		margin-bottom: 10px;
	}
	.features-title {
		font-size: 44px;
	}
	.footer-links-last {
		-webkit-transform: none;
				-ms-transform: none;
						transform: none;
	}
	.footer-links-item {
		margin-top: 0;
	}
	.footer-links-item-1, .footer-links-item-2, .footer-links-item-3 {
		-webkit-transform: none;
				-ms-transform: none;
						transform: none;
	}
	.footer-social {
		-webkit-transform: none;
				-ms-transform: none;
						transform: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	/*.blog-item-pair {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}*/
	.blog-item-big {
		position: relative;
		width: 100%;
	}
	.load-more-wrapper {
		position: relative;
		left: auto;
		transform: none;
	}

	.header-nav-wrapper {
		text-align: center;
	}
	.header-slider {
		margin-top: 70px;
	}
	.blog-desc div {
		font-size: 18px;
	}
	.blog-desc p {
		font-size: 16px;
	}
	.single-entry .blog-item-wrapper {
		padding-right: 0;
	}
	.sidebar-container, .blog-newsletter {
		width: 100%;
	}
	/*MAKSIM*/

	.blog-item-pair:nth-child(2n) {
		flex-direction: row;
		align-items: center;
	}
	.blog-item {
		display: inline-block;
		margin-bottom: 20px;
		vertical-align: top;
		width: calc(100% / 2 - 10px);
	}

	/*BLOG SINGLE*/
	.resent-post-wrap {
		flex-direction: column;
	}
	.resent-post-wrap .resent-post {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	.resent-post-wrap .resent-post:last-child {
		margin-bottom: 0;
	}
	.write-comment .form-item-pair {
		flex-direction: column;
		margin-bottom: 15px;
	}
	.write-comment .form-item-pair input {
		margin: 0;
		margin-bottom: 15px;
	}
	.form-block input, .form-block textarea {
		font-size: 14px;
		padding: 8px 12px;
		border-radius: 0;
	}
	.write-comment .form-item-pair input:last-child {
		margin-bottom: 0;
	}
	.btn-primary-green-gradient {
		padding: 8px 12px;
	}

	/*BLOG SINGLE*/

	/*MAKSIM*/
	.blog-item-big {
		width: 100%;
		height: 500px;
		right: auto;
		position: relative;
		margin-right: 0;
	}
	.blog-item-big img {
		width: 100%;
		height: 500px;
	}
	.blog-item-container {
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
	}
	.blog-item-wrapper {
		max-width: 100%;
	}
	.blog-item-pair {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
	}
	.blog-item-wrapper-2 .blog-item-small {
		margin-left: 0;
	}
	.blog-item-wrapper-2 .blog-item {
		margin-right: 110px;
	}
	.blog-item-wrapper-2 .blog-item:last-child {
		margin-right: 0;
	}
	.blog-item-small {
		margin-right: 0;
		margin-left: 0;
	}
	.blog-item-wrapper-2 .blog-item-big {
		margin-left: 0;
	}
	.features-desc {
		margin-left: 0;
	}
	.footer-top {
		-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
						flex-wrap: wrap;
	}
	.footer-social {
		width: auto;
		margin-top: 50px;
	}
	.footer-bottom {
		text-align: center;
	}
	.footer-rules {
		margin: 25px 0;
	}
	.footer-email-wrapper {
		text-align: center;
	}
}

@media screen and (max-width: 782px) {
	.admin-bar .heateor_sss_sharing_container.sticky {
	    margin-top: 42px!important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	/*MAKSIM*/

	/*BLOG*/
	.breadcrumbs {
		margin-bottom: 10px;
	}
	.blog-search {
		width: 100%;
		padding-left: 0;
	}
	.head-item-line:before {
		display: none;
	}
	.blog-item-pair .blog-item {
		margin-bottom: 20px;
	}
	.blog-item-pair .blog-item:last-child {
		margin-bottom: 40px;
	}
	.blog-item-big .item-photo {
		position: relative;
		padding-bottom: 56.25%;
	}
	.blog-item-big .item-photo img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/*BLOG*/

	/*SINGLE BLOG*/
	.single-entry h1 {
		font-size: 26px;
		text-align: left;
	}
    .blog-item-wrapper .head-item-line {
        margin-bottom: 0;
    }
	/*.head-item-line .main-caption {*/
		/*padding: 0 35px;*/
	/*}*/
	.single-blog-item-statistic {
		flex-direction: column;
		align-items: flex-start;
	}
	.single-blog-item-statistic .blog-item-big-statistic {
		margin-bottom: 15px;
	}
    .single-blog-entry .blog-tags {
        margin-top: 0;
    }
	.single-entry .blog-item-big-statistic a {
		font-size: 13px;
		margin-right: 15px;
	}
	.share-article li a {
		font-size: 12px;
		padding: 5px 8px;
	}

	/*SINGLE BLOG*/

	/*MAKSIM*/

	.header-logo {
		margin: 0;
		margin-top: 20px;
	}

	.header-slider-title {
		font-size: 28px;
	}
	.header-main {
		padding-bottom: 100px;
	}
	.slick-dots {
		bottom: -50px;
	}
    .blog-entry-image {
        margin-bottom: 20px;
    }
	.blog-item {
		margin-right: 0;
		text-align: left;
	}
	.blog-item-big {
		text-align: left;
	}
	.blog-item-wrapper-2 .blog-item {
		margin-right: 0;
	}
	.blog-item {
		width: 100%;
	}
	.blog-item-big {
		height: 367px;
	}
	.blog-item-big img {
		height: 367px;
	}
	.blog-item-wrapper-2 .blog-item-big {
		margin-left: 0;
	}
	.features {
		padding: 50px 0;
	}
	.features-title {
		font-size: 36px;
	}
	.features-desc {
		font-size: 17px;
	}
	.features-btn {
		margin-right: 0;
		margin-bottom: 25px;
	}
	.features-btn:last-child {
		margin-bottom: 0;
	}
	.advertizer-btn {
		margin-left: 0;
	}
	.footer {
		padding-top: 35px;
		text-align: center;
	}
	.footer-top {
		display: block;
	}
	.footer-lang {
		display: inline-block;
		margin-bottom: 40px;
	}
	.footer-links-item {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 782px) {
	.admin-bar .cloned {
	    margin-top: 45px!important;
	}
}

@media only screen and (max-width: 600px) {
	#wpadminbar {
	    position: fixed;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
	.header-price-item {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.header-price-item:last-child {
		margin-bottom: 0;
	}
	.header-price-item-1, .header-price-item-2, .header-price-item-3 {
		-webkit-transform: none;
				-ms-transform: none;
						transform: none;
	}
	.header-login {
		padding: 7px 12px;
		margin-right: 20px;
	}
	.header-nav {
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 30px;
		display: block;
		display: none;
	}
	.header-nav li {
		display: block;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.header-nav a {
		font-size: 20px;
	}
	.blog {
		padding-top: 35px;
	}
	.blog-head {
		display: block;
	}
	.blog-item {
		width: 100%;
	}
	.blog-item-categories {
		font-size: 10px;
	}
	.blog-item-big-name {
		font-size: 15px;
	}
	.blog-item-big-date {
		margin-bottom: 10px;
	}
	.blog-item-big-categories {
		font-size: 11px;
	}
	.blog-item-big-text {
		left: 15px;
	}
	.blog-newsletter {
		width: 100%;
	}
	.blog-item-wrapper-2 .blog-item-big-text {
		left: 15px;
	}
	.blog-item-wrapper-2 .blog-item-big-categories {
		padding-right: 24px;
	}
	.blog-item-wrapper-2 .blog-item-big {
		margin-left: 0;
	}
	.blog-item-wrapper-3 .blog-item-big-categories {
		padding-right: 15px;
	}
	.load-more {
		font-size: 14px;
	}
	.features-title {
		font-size: 30px;
	}

	/*Header-slider*/
	.slick-initialized .slick-slide {
		text-align: left;
	}
	.header-slider-title {
		font-size: 22px;
	}
	.header-slider-categories {
		margin: 0 0 10px;
		font-size: 14px;
	}
	.header-slider-date {
		display: block;
		font-size: 16px;
	}
}

@media screen and (max-width: 384px) {
	body div.heateor_sss_horizontal_sharing li {
	    width: calc( 20% - 4px );
	}
}