body {
    position: relative;
    overflow-x: hidden;
}
body.overflow-scroll {
    overflow: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: #fff;
    outline: none;
}

ul, p {
    margin: 0;
    padding: 0;
}

.header-price-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
}

.home-header-section {
    padding-top: 20px;
}
.home-header-section .header-login {
    background: transparent;
    border: 1px solid #b890e5;
}

.header-logo .st3 {
    fill: #fff;
}

/*TOOLTIP*/
.header-tooltip {
    display: none;
    position: absolute;
    top: 40px;
    right: 135px;
    background: #f6f9fc;
    max-width: 520px;
    width: 100%;
    border-radius: 5px;
    left: -50px;
    min-width: 520px;
}

.header-tooltip:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: -6px;
    left: 85px;
    background: #f6f9fc;
    transform: rotate(45deg);
}

.head-tooltip {
    display: flex;
    text-align: left;
}

.head-tooltip p {
    margin: 0;
    width: 50%;
    color: #b2b6ba;
    font-size: 11px;
    font-weight: 600;
    padding: 18px 25px;
    letter-spacing: 1px;
}

.content-tooltip-wrap {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.content-tooltip {
    background: #ffffff;
    width: calc(50% - 1px);
    padding: 18px 25px 16px 38px;
}
.content-tooltip-left {
    border-bottom-left-radius: 5px;
}
.content-tooltip-right {
    border-bottom-right-radius: 5px;
}

.content-tooltip-item:before {
    position: absolute;
    left: -16px;
    top: 16px;
}

.content-tooltip-item {
    position: relative;
    padding: 13px 10px;
    transition: .3s all;
}

.content-tooltip-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.content-tooltip-item.icon-star-filled:before {
    color: #eea321;
    font-size: 14px;
}

.content-tooltip-item.icon-volume-off:before {
    color: #d12b5d;
    font-size: 17px;
}

.content-tooltip-item.icon-blank:before {
    color: #2be9de;
    font-size: 12px;
    top: 18px;
    transform: rotate(45deg);
}

.content-tooltip-item p {
    color: #5d5c66;
    font-weight: 600;
    line-height: 1.3;
}

.content-tooltip-item span {
    color: #b3b2bb;
    font-size: 14px;
    letter-spacing: .2px;
}

/*TOOLTIP*/

.header-nav-wrapper {
    text-align: right;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav .list-unstyled {
    margin-right: 35px;
}

.header-nav .list-unstyled .menu-item:first-child:hover .header-tooltip {
    display: block;
}

.header-nav .list-unstyled .menu-item:first-child:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 100%;
    bottom: -21px;
}

.header-nav li {
    display: inline-block;
    margin-right: 55px;
    position: relative;
}

.header-nav li:last-child {
    margin-right: 0;
}

.header-nav a {
    font-size: 16px;
    color: #d7c1ef;
    position: relative;
}

.header-nav a:hover {
    color: #ffffff;
}

.header-nav .dropdown a {
    color: #d7c1ef;
    transition: .2s all;
}

.header-nav .dropdown .dropdown-toggle {
    color: #d7c1ef ;
}
.header-nav .dropdown .dropdown-toggle:hover {
    color: #ffffff ;
}
.header-nav .dropdown-menu a {
    color: #5f15cc;
}
.header-nav .dropdown-menu a:hover {
    background: #5f15cc;
    color: #ffffff;
}

.header-login {
    /*background: -webkit-linear-gradient(260deg, #9428ef 0%, #4c31b1 100%, #bd316a 100%, #833cf7 100%);*/
    /*background: linear-gradient(-170deg, #9428ef 0%, #4c31b1 100%, #bd316a 100%, #833cf7 100%);*/
    background: linear-gradient(to right, #502ec5 0%, #762ae5 100%);
    padding: 7px 20px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.header-login:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.07);
}
.header-lang {
    display: inline-block;
    padding-right: 20px;
    padding-left: 0;
    background: url("../img/arrow-down.png") no-repeat right;
    cursor: pointer;
    position: relative;
}

.header-lang li {
    list-style: none;
    margin-right: 0;
}

.header-lang a {
    font-size: 16px;
}
.header-lang-drop {
    position: absolute;
    z-index: 3;
    display: none;
}

.mnu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 15;
    background-color: #140c1f;
    padding: 25px 20px;
    text-align: center;
}

.mnu .header-price-wrapper {
    flex-direction: column;
    justify-content: center;
}

.mnu .header-price-item {
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 5px;
}

.header-price-item {
    display: inline-block;
    margin-right: 50px;
}

.header-price-item:last-child {
    margin-right: 0;
}

.header-price-item-2 {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}

.header-price-item-3 {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.mnu .header-price-item-2, .mnu .header-price-item-3 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.token-name {
    font-size: 12px;
    color: #73618c;
    text-transform: uppercase;
    margin-right: 5px;
    font-family: 'Lato-SemiBold';
}

.token-price {
    font-size: 13px;
    color: #fff;
    font-family: "Lato-SemiBold", sans-serif;
}

.token-percent {
    font-size: 13px;
    color: #22aba5;
    font-family: "Lato-Bold", sans-serif;
}

.mnu .header-nav {
    margin-right: 0;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
}

.mnu .header-nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
}
.mnu .header-nav li a {
    color: #ffffff;
}

.toggle-nav {
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 16;
}
.toggle-nav.on {
    left: auto;
}

.toggle-nav span:after, .toggle-nav span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
}

.toggle-nav span:after {
    top: 18px;
}

.toggle-nav span {
    position: relative;
    display: block;
}

.toggle-nav span, .toggle-nav span:after, .toggle-nav span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    backface-visivility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


.toggle-nav.on span {
    background-color: transparent;
}

.toggle-nav.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}

.toggle-nav.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}

.dropdown-menu.show li {
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 1199px) {
    .mnu .header-price-wrapper {
        display: none;
    }
    .toggle-nav {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .header-logo {
        display: block;
        text-align: center;
    }

    .header-logo svg {
        display: none;
    }

    .header-nav .list-unstyled {
        margin-right: 0;
    }

    .mnu .header-nav {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .header-main-top {
        text-align: center;
    }
    .header-logo {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .header-price-wrapper {
        display: none;
    }
    .toggle-nav {
        top: 0;
    }
}

@media (max-width: 576px) {
    .header-logo img{
        width: 200px;
    }
    /*.toggle-nav {*/
        /*top: 15px;*/
        /*left: 15px;*/
    /*}*/

    /*.mnu .header-price-wrapper {*/
        /*display: flex;*/
    /*}*/
}