@font-face{font-family:'fontello';src:url('../../fonts/fontello/fontello.woff2?92813603') format('woff2'),
url('../../fonts/fontello/fontello.woff?92813603') format('woff');font-weight:normal;font-style:normal;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-eye:before{content:'\e800';}
.icon-star-filled:before{content:'\e801';}
.icon-volume-off:before{content:'\e802';}
.icon-twitter:before{content:'\f099';}
.icon-facebook:before{content:'\f09a';}
.icon-github-circled:before{content:'\f09b';}
.icon-pinterest-circled:before{content:'\f0d2';}
.icon-gplus:before{content:'\f0d5';}
.icon-linkedin:before{content:'\f0e1';}
.icon-reply:before { content: '\f112'; }
.icon-blank:before { content: '\f0c8'; }
.icon-chat-empty:before{content:'\f0e6';}
.icon-thumbs-up-alt:before{content:'\f164';}
.icon-youtube-play:before{content:'\f16a';}
.icon-instagram:before{content:'\f16d';}
.icon-reddit-alien:before{content:'\f281';}