footer.section-footer {
  h5 {
    font-weight: bold;
    font-size: 1.125rem;
    color: #a5a3b9;
    letter-spacing: 0.025em;
  }

  ul {
    li {
      a {
        font-weight: 300;
        font-size: 1rem;
        color: #a5a3b9;
        line-height: 2;
      }
    }
  }

  .social-links {
    font-size: 20px;
    a {
      color: #a5a3b9;

      &:hover,
      &:active {
        color: $sm-color-blue;
      }
    }
  }
}


.section-copyrights {

  .container {
    border-top: 1px solid #e7e6f1;
  }

  color: #a5a3b9;
  font-size: 0.875rem;

  a {
    color: #a5a3b9;

    &:hover,
    &:active {
      color: $sm-color-blue;
    }
  }
}



