.section-header {
  background: #140c1f;

  .list-inline {
    .list-inline-item {
      font-weight: normal;
      font-size: 0.75rem;
      color: #73618c;

      > span {
        text-transform: uppercase;
        letter-spacing: 0.04em;
      }

      strong {
        font-weight: normal;
      }

      sup {
        top: 0;
        font-weight: bold;
        font-size: 100%;
        color: #22aba5;
        line-height: inherit;
      }

      @media(max-width: 575px) {
        display: block;
        //text-align: left;
        > span {
          width: 150px;
        }
      }
    }
  }
}


.section-subheader {

  padding: 2rem 0;

  .social-links {

    .list-inline-item {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 1.125rem;
      color: #fff;

      &:hover,
      &:focus {
        opacity: 0.9;
      }
    }
  }

}

.section-main {
  h1 {
    font-size: 2.875rem;
    line-height: 1.087;
    color: #fff;
  }

  .lead {
    font-size: 1.375rem;
    color: rgba(254, 254, 254, 0.659);
    line-height: 2;
    color: #fff;
  }

  .jumbotron {
    background: transparent;
  }
}


.btn-primary-influencer,
.btn-primary-advertiser {
  display: inline-block;
  width: 270px;
  padding: 16px;
  background: #2da5ef;
  font-size: 1.125rem;
  color: #fff;
  letter-spacing: 0.05em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 14px 0 rgba(1, 3, 57, 0.2);

  &:hover {
    border: none;
    color: #fff;
  }

  .show > &.dropdown-toggle,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    border: none;
    color: #fff;
  }
}

.btn-primary-influencer {
  background: #3a8af4;
  background: -moz-linear-gradient(left, #3a8af4 0%, #1dc9e9 100%);
  background: -webkit-linear-gradient(left, #3a8af4 0%, #1dc9e9 100%);
  background: linear-gradient(to right, #3a8af4 0%, #1dc9e9 100%);

  &:hover,
  .show > &.dropdown-toggle,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: darken(#3a8af4, 5%);
    background: -moz-linear-gradient(left, darken(#3a8af4, 5%) 0%, darken(#1dc9e9, 5%) 100%);
    background: -webkit-linear-gradient(left, darken(#3a8af4, 5%) 0%, darken(#1dc9e9, 5%) 100%);
    background: linear-gradient(to right, darken(#3a8af4, 5%) 0%, darken(#1dc9e9, 5%) 100%);
  }
}

.btn-primary-advertiser {
  background: #1dc9e9;
  background: -moz-linear-gradient(left, #1dc9e9 0%, #0acbb9 100%);
  background: -webkit-linear-gradient(left, #1dc9e9 0%, #0acbb9 100%);
  background: linear-gradient(to right, #1dc9e9 0%, #0acbb9 100%);

  &:hover,
  .show > &.dropdown-toggle,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: darken(#1dc9e9, 5%);
    background: -moz-linear-gradient(left, darken(#1dc9e9, 5%) 0%, darken(#0acbb9, 5%) 100%);
    background: -webkit-linear-gradient(left, darken(#1dc9e9, 5%) 0%, darken(#0acbb9, 5%) 100%);
    background: linear-gradient(to right, darken(#1dc9e9, 5%) 0%, darken(#0acbb9, 5%) 100%);
  }
}
