.section-main {

  //@media(min-width: 992px) {
  //  padding: 100px 0;
  //}

  //.section-desc {
  //  font-weight: normal;
  //}

  //.how-works--inner {
  //  position: relative;
  //}

  .comparison-reason {
    position: absolute;
    width: 190px;
    z-index: 1;
    font-size: 1.0625rem;
  }

  .comparison-reason1 {
    top: -150px;
    right: 0;
  }

  .comparison-reason2 {
    top: -60px;
    left: 0;
  }

  .comparison-reason3 {
    right: 0;
    bottom: 100px;
  }

  .description-left,
  .description-right {
    position: absolute;
    width: 190px;


    p {
      font-weight: normal;
      font-size: 19px;
    }

    .description--arrow {
      margin-top: 30px;
      font-size: 20px;
    }

    @media (max-width: 1300px) {
      display: none;
    }
  }

  .description-left {
    left: 0;
    top: 40px;
    i.fa {
      color: #f00d72;
    }
  }

  .description-right {
    right: 0;
    bottom: 160px;
    i.fa {
      color: #17b5a0;
    }
  }

  .laptop-mobile-image {
    display: block;
    margin: 0 auto 40px;
    @media(min-width: 768px) {
      display: none;
    }
  }

  .comparison-wrapper {
    position: relative;
    width: 720px;
    height: 440px;
    max-width: 100%;

    @media(max-width: 992px) {
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
      max-width: none;
    }

    @media(max-width: 767px) {
      display: none;
    }

    .laptop-image1,
    .laptop-image2,
    .laptop-image3 {
      position: absolute;
      z-index: 1;
      display: block;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 rgba(7, 7, 7, 0.42);

      @media(max-width: 992px) {
        display: none;
      }
    }

    .laptop-image1 {
      top: 70px;
      left: -70px;

    }

    .laptop-image2 {
      top: -20px;
      right: -100px;
    }

    .laptop-image3 {
      bottom: 80px;
      right: -55px;
    }
  }

  .actions {
    margin: 60px 0 0;
  }

}