.section-trusted {
  .trusted-label {
    line-height: 1.875;
    font-size: 1.125rem;
    color: #cac8de;
    letter-spacing: 0.025em;
  }

  hr {
    border-top: 1px solid rgba(228, 227, 237, 0.51);
  }
}
