// 2. Videos
.section-videos {
  padding: 60px 0 120px;

  @media (min-width: 992px) {
    padding: 90px 0 120px;
  }

  .section-title {
    font-size: 2.25rem;
    color: #23266a;
    margin-bottom: 40px;
  }

  .videos-list {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;

    &--item {
      background: #fff;
      box-shadow: 0 2px 16px 0 rgba(30, 30, 34, 0.24);
      margin: 0 0 10px 0;

      &.active a,
      a:hover {
        color: #4557af;
        background: #dfdeff;
        background: -moz-linear-gradient(left, #dfdeff 0%, #ece0ff 100%);
        background: -webkit-linear-gradient(left, #dfdeff 0%,#ece0ff 100%);
        background: linear-gradient(to right, #dfdeff 0%,#ece0ff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdeff', endColorstr='#ece0ff',GradientType=1 );

        .fa {
          display: inline-block;
        }
      }
    }

    &--item-link {
      display: block;
      padding: 14px 30px 14px 20px;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: left;
      color: #252525;
      position: relative;

      .fa {
        display: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .col-md-4 {
    width: 100%;

    @media (min-width: 992px) {
      width: percentage(4/12);
    }
  }

  .col-md-8 {
    width: 100%;

    @media (min-width: 992px) {
      width: percentage(8/12);
    }
  }
}

.fotorama--fullscreen {
  .fotorama__thumb-border {
    border-color: #b82382 !important;
  }
}

.card-video {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  z-index: 1;
  border-radius: 4px;
  overflow: visible;
  background: #fff;
  box-shadow: 0 24px 45px 0 rgba(19, 19, 31, 0.33);

  @media (min-width: 992px) {
    margin-left: 10%;
    margin-top: -150px;
  }

  .fotorama {
    overflow: visible;
    max-width: 100%;

    .fotorama__nav-wrap {
      //position: absolute;
      //bottom: -250px; // default, calculated by js
      //padding: 0;

      //> .fotorama__nav {
      //  padding-top: 10px;
      //}
    }

    .fotorama__thumb-border {
      background: rgba(255, 255, 255, 0.17);
      border-color: transparent;
      border-radius: 5px;
      display: none !important;
    }

    .fotorama__thumb {
      border-radius: 5px;
      padding: 0;
    }

    .fotorama__nav--thumbs {
      .fotorama__nav__frame {
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    .fotorama__nav__frame {
      &--thumb {
        transition: margin 300ms ease;
        padding: 0 !important;

        &.fotorama__active {
          margin-top: -10px;
          border-radius: 5px;
          padding: 0 !important;
          box-shadow: 0 4px 8px 0 rgba(31, 31, 36, 0.3);
        }
      }

      &.fotorama__active {
        .fotorama__thumb {
          &:after {
            z-index:1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.25);
            content: '';
          }
        }
      }

      .fotorama__video-play {
        width: 27px;
        height: 27px;
        margin-left: -14px;
        margin-top: -14px;
        background: transparent url('../img/fotorama/fotorama-play.png') center center no-repeat;
        z-index: 2;
      }
    }
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #171718;
    margin: 0 0 15px 0;
    line-height: 1;
  }

  p {
    font-size: 17px;
    color: #5e6165;
    margin: 0;
  }

  &--footer {
    position: relative;
    padding: 25px;

    .fotorama-go-prev,
    .fotorama-go-next {
      position: absolute;
      bottom: -65px;
      color: #9e9ea2;
      opacity: 0.5;
      font-size: 25px;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

    .fotorama-go-prev {
      left: 5%;
    }

    .fotorama-go-next {
      right: 5%;
    }

    .video-info {
      font-size: 16px;
      color: rgb(171, 174, 179);
      margin-bottom: 20px;

      .media .media-element.fr {
        margin-bottom: 0;
      }

      .media-element,
      .media-body {
        > a {
          color: rgb(171, 174, 179);
        }

        > a,
        > span {
          margin: 0 5px;
          &:first-child {
            margin-left: 0;
          }
        }
      }

    }

  }
}